h2 {
  --uno: "text-gray-300 mb-8";
}
h3 {
  --uno: "mb-2 mt-4";
}
.slidev-vclick-target {
  transition: opacity 500ms ease;
}
.slidev-vclick-prior {
  opacity: 0.7 !important;
}
.slidev-vclick-hidden {
  opacity: 0.3 !important;
}
.slidev-vclick-current {
  opacity: 1 !important;
}
